<div class="container p-10 m-auto md:px-10 lg:px-40">
  <p class="text-sm text-primary">DONATED BLOOD TYPE IN 2020</p>
  <h1 class="text-3xl font-bold">โลหิตที่ได้รับบริจาคในปี 2020</h1>
  <br>
  <div class='flex flex-col-reverse md:flex-row justify-between'>
    <div class="flex justify-between w-full md:w-7/12 lg:w-6/12 items-end mt-8">
      <div class="flex items-center jusify-center flex-col">
        <h3 class="text-3xl text-primary font-bold">43</h3>
        <p class="text-xl">หมู่โลหิต A</p>
      </div>
      <div class="flex items-center jusify-center flex-col">
        <h3 class="text-3xl text-primary font-bold">62</h3>
        <p class="text-xl">หมู่โลหิต B</p>
      </div>
      <div class="flex items-center jusify-center flex-col">
        <h3 class="text-3xl text-primary font-bold">120</h3>
        <p class="text-xl">หมู่โลหิต O</p>
      </div>
      <div class="flex items-center jusify-center flex-col">
        <h3 class="text-3xl text-primary font-bold">9</h3>
        <p class="text-xl">หมู่โลหิต AB</p>
      </div>
    </div>
    <div
      class="flex items-center jusify-center flex-col items-end md:-mt-24"
      style='background-color: blanchedalmond;
      padding: 2rem;
      border-radius: 20px;'
    >
      <h3 class="text-6xl text-primary font-bold">234</h3>
      <p class="text-2xl">จำนวนผู้บริจาคทั้งหมด</p>
    </div>
  </div>
</div>
