<div class="bg-primary p-12">
  <div class="container text-center">
      <div class="text-white text-sm opacity-50">OUR ACTIVITY</div>
      <div class="text-white text-3xl">CU Blood on Facebook</div>
      <a class='block mt-4' href='https://www.facebook.com/CU.Blood'>
        <img class='rounded-lg w-64 m-auto' src="https://graph.facebook.com/v6.0/642243705797767/picture?height=500" alt="fb profile img">
      </a>
  </div>

  <div class="container mt-16 md:px-16 flex flex-row flex-wrap">
    <app-post class='md:w-4/12 p-2'></app-post>
    <app-post class='md:w-4/12 p-2'></app-post>
    <app-post class='md:w-4/12 p-2'></app-post>
    <app-post class='md:w-4/12 p-2'></app-post>
  </div>
</div>
