<div class="container flex items-center" style='min-height: 74vh'>
    <!-- <div class="w-1/12"></div> -->
    <div class="hidden sm:block w-6/12 p-10">
      <h3 class='text-primary'>รู้หรือไม่?</h3>
      <br>
      <div class="font-bold text-lg">
        การบริจาคโลหิตลดความเสี่ยงจากโรคต่าง ๆ
      </div>
      <p class='text-gray-600 mt-3'>
        ไม่ว่าจะเป็นโรคมะเร็งชนิดต่างๆ เช่น มะเร็งตับ มะเร็งปอด มะเร็งลําไส้ใหญ่ มะเร็งกระเพาะอาหาร และอื่นๆ ทั้งยังช่วยลดปริมาณธาตุเหล็กส่วนเกิน ในร่างกาย อันเป็นปัจจัยของการเกิดโรค "เส้นเลือดหัวใจอุดตัน"
      </p>

    </div>
    <div class="w-full sm:w-6/12 p-4 -mt-16">
      <app-headline
        title='เข้าสู่ระบบ'
        subtitle='LOGIN'
      ></app-headline>

      <div class='mt-4'>
        <label for="email">อีเมล์</label><br>
        <input type="text" class='px-3 py-2 bg-gray-200 rounded w-full outline-none'>
      </div>
      <div class='mt-4'>
        <label for="password">รหัสผ่าน</label><br>
        <input type="password" class='px-3 py-2 bg-gray-200 rounded w-full outline-none'>
      </div>
      <br>
      <div class="flex justify-between">
        <button class="px-8 py-2 bg-primary text-white rounded outline-none">เข้าสู่ระบบ</button>
        <a routerLink='/register' class="text-primary">ลงทะเบียน</a>
      </div>
    </div>

</div>
