<div class="bg-red-100">
  <div class="container p-8">
    <h1>ข้อควรรู้</h1>
    <div class='pt-5'><a href='notice#CHARACTERISTIC_AND_CRITERIA'>
      <h3 class='text-xl'>คุณสมบัติผู้บริจาคโลหิต</h3>
      <span class='text-primary text-sm pt-0'>CHARACTERISTIC AND CRITERIA</span>
    </a></div>
    <div class='pt-5'><a href='notice#PROCEDURES'>
      <h3 class='text-xl'>ขั้นตอนการบริจาคโลหิตกับโครงการ</h3>
      <span class='text-primary text-sm pt-0'>PROCEDURES</span>
    </a></div>
    <div class='pt-5'><a href='notice#PRE-POST_DONATION_PROCEDURES'>
      <h3 class='text-xl'>การเตรียมตัวก่อน-หลังบริจาคโลหิต</h3>
      <span class='text-primary text-sm pt-0'>PRE-POST DONATION PROCEDURES</span>
    </a></div>
  </div>
</div>

<div class="container p-8">
  <div id='CHARACTERISTIC_AND_CRITERIA' class='pb-6'></div>
  <app-head
    title='คุณสมบัติผู้บริจาคโลหิต'
    subtitle='CHARACTERISTIC AND CRITERIA'
  ></app-head>

  <app-list [number]='1'> อายุระหว่าง 17 ปี ถึง 70 ปีบริบูรณ์ผู้ที่มีอายุ 17 ปี ไม่ถึง 18 ปี ต้องมีหนังสือยินยอมจากผู้ปกครอง
  </app-list>
  <app-list [number]='2'>
    ผู้บริจาคโลหิตเป็นครั้งแรก ถ้าอายุเกิน 55 ปี – 60 ปี ให้อยู่ในดุลพินิจของแพทย์และ พยาบาล
  </app-list>
  <app-list [number]='3'>
    <span>ผู้บริจาคโลหิตอายุมากกว่า 60 ปี – 70 ปี แบ่งเกณฑ์การคัดเลือกตามอายุ 2 ช่วง ดังนี้</span>
    <h3 class='text-primary'>
      1 : การคัดเลือกผู้บริจาคโลหิตอายุมากกว่า 60 จนถึง 65 ปี (ไม่รับบริจาคในหน่วยรับบริจาคโลหิตเคลื่อนที่)
    </h3>
    <ol>
      <li>เป็นผู้บริจาคโลหิตประจํามาโดยตลอดจนกระทั่งอายุ 60 ปี</li>
      <li>บริจาคโลหิตได้ไม่เกินปีละ 3 ครั้ง คือทุก 4 เดือน</li>
      <li>ตรวจ Complete Blood Count (CBC),Serum Ferritin (SF) ปีละ 1 ครั้ง เพื่อประกอบการให้คําปรึกษาด้านสุขภาพทั่วไป และสําหรับแพทย์ใช้ผลการตรวจ SF ในการติดตามและปรับการให้ธาตุเหล็กทดแทน</li>
    </ol>

    <h3 class='text-primary'>
      2 : ผู้บริจาคโลหิตอายุมากกว่า 65 ปี จนถึง 70 ปี (ไม่รับบริจาคในหน่วยรับบริจาคโลหิตเคลื่อนที่)
    </h3>
    <ol>
      <li>เป็นผู้บริจาคโลหิตต่อเนื่องสม่ำเสมอในช่วงอายุ มากกว่า 60 ปี จนถึง 65 ปี</li>
      <li>บริจาคโลหิตได้ไม่เกินปีละ 2 ครั้ง คือ ทุก 6 เดือน</li>
      <li>ต้องได้รับการตรวจคัดกรองสุขภาพโดยแพทย์ หรือพยาบาลของธนาคารเลือดหรือหน่วยงานรับบริจาคโลหิตซึ่งมีหน้าที่ในการตรวจคัดกรองสุขภาพผู้บริจาคโลหิต</li>
      <li>ตรวจ CBC และ SF ปีละ 1 ครั้ง</li>
    </ol>

    <p>ทั้งสองช่วงอายุให้ดูผล hemoglobin จาก CBC ที่เจาะในวันเดียวกันกับที่จะบริจาคโลหิต หรือจากการเจาะปลายนิ้ว ถ้าอยู่ในเกณฑ์กำหนดอนุญาตให้บริจาคโลหิตได้</p>
    <p>สำหรับผลการตรวจอื่น ๆ ที่ไม่ได้ผลทันที ให้เก็บไว้ประกอบการให้คำปรึกษาหลังจากการบริจาคโลหิตครั้งนี้ ในโอกาสที่มาบริจาคโลหิตครั้งต่อไป หรือแจ้งผลโดยวิธีอื่น ๆ ตามความเหมาะสมผู้บริจาคโลหิตในช่วงอายุ 60 ปี ถึง 70 ปี ที่บริจาคโลหิตไม่สม่ำเสมอ มีการหยุดบริจาคทิ้งช่วงเกิน 1 ปี ให้เจาะเลือดตรวจตามที่ระบุไว้และนัดให้ผู้บริจาคมาฟังผลเพื่อพิจารณาการรับบริจาคโลหิตภายใน 1-2 สัปดาห์ และต้องเจาะเลือดจากปลายนิ้วตรวจฮีโมโกลบินซ้ำตามขั้นตอนการรับบริจาคโลหิต ในวันที่บริจาคโลหิต</p>
    <p>ผู้ที่มีอายุเกิน 55 ปีจนถึง 60 ปี ที่ต้องการบริจาคโลหิตเป็นครั้งแรก ให้อยู่ในดุลพินิจของแพทย์/พยาบาล ไม่ควรรับบริจาคโลหิตจากผู้ที่อายุเกิน 60 ปี ในหน่วยรับบริจาคโลหิตเคลื่อนที่</p>
  </app-list>
  <app-list [number]='4'>
    น้ำหนักตั้งแต่ 45 กิโลกรัม ขึ้นไป
  </app-list>
  <app-list [number]='5'>
    สุขภาพสมบูรณ์แข็งแรงพร้อมที่จะบริจาคโลหิต
  </app-list>
  <app-list [number]='6'>
    นอนหลับพักผ่อนเพียงพอในเวลาปกติของตนเอง ในคืนก่อนวันที่มาบริจาคโลหิต
  </app-list>
  <app-list [number]='7'>
    ไม่มีประวัติการเจ็บป่วยด้วยโรคหัวใจ โรคตับ โรคปอด โรคเลือด โรคมะเร็ง หรือมีภาวะโลหิตออกง่ายและหยุดยาก
  </app-list>
  <app-list [number]='8'>
    ไม่มีอาการท้องเสีย ท้องร่วง ใน 7 วันที่ผ่านมา
  </app-list>
  <app-list [number]='9'>
    สตรีไม่อยู่ในระหว่างตั้งครรภ์หรือให้นมบุตร และไม่มีการคลอดบุตรหรือแท้งบุตรภายใน 6 เดือน ที่ผ่านมา
  </app-list>
  <app-list [number]='10'>
    น้ำหนักต้องไม่ลดผิดปกติในระยะ 3 เดือนที่ผ่านมา โดยไม่ทราบสาเหตุ
  </app-list>
  <app-list [number]='11'>
    หากรับประทานยาแอสไพริน ยาคลายกล้ามเนื้อ หรือยาแก้ปวดอื่น ๆ ต้องหยุดยามาแล้ว 3 วัน ถ้าเป็นยาแก้อักเสบหรือยาอื่น ๆ ต้องหยุดยามาแล้ว 7 วัน
  </app-list>
  <app-list [number]='12'>
    ไม่เป็นโรคหอบหืด ผิวหนังเรื้อรัง วัณโรค หรือภูมิแพ้อื่น ๆ
  </app-list>
  <app-list [number]='13'>
    ไม่เป็นโรคความดันโลหิตสูง เบาหวาน หัวใจ ตับ ไต มะเร็ง ไทรอยด์โลหิตออกง่าย-หยุดยาก หรือโรคประจำตัวอื่น ๆ
  </app-list>
  <app-list [number]='14'>
    หากถอนฟัน อุดฟัน ขูดหินปูนหรือรักษารากฟัน ต้องทิ้งระยะอย่างน้อย 3 วัน กรณีผ่าฟันคุด ให้เว้นอย่างน้อย 7 วัน จนกว่าแผลจะหายสนิทไม่มีอาการอักเสบ
  </app-list>
  <app-list [number]='15'>
    หากเคยได้รับการ ผ่าตัดใหญ่ต้องเกิน 6 เดือน ส่วนผ่าตัดเล็ก ต้องเกิน 7 วัน
  </app-list>
  <app-list [number]='16'>
    ท่านหรือคู่ครองของท่านต้องไม่มีพฤติกรรมเสี่ยงทางเพศสัมพันธ์
  </app-list>
  <app-list [number]='17'>
    ต้องไม่มีประวัติยาเสพติด หรือเพิ่งพ้นโทษ ต้องเกิน 3 ปี และมีสุขภาพดี
  </app-list>
  <app-list [number]='18'>
    หากเจาะหู สัก ลบรอยสัก หรือฝังเข็มในการรักษา โดยใช้เครื่องมือร่วมกัน
    หรือในสถานที่ที่มีคุณภาพความสะอาดต่ำที่อาจมีความเสี่ยงในการติดเชื้อโรคทางกระแสโลหิต ควรงดบริจาคอย่างน้อย 1 ปี
    แต่หากกระทำด้วยเครื่องมือทางการแพทย์ที่สะอาดปราศจากเชื้อโดยผู้ชำนาญ และเป็นวัสดุที่ใช้ครั้งเดียวเฉพาะตัว เว้นระยะเวลาให้แผลอักเสบหายสนิทอย่างน้อย
    7 วัน
  </app-list>
  <app-list [number]='19'>
    หากมีประวัติเจ็บป่วยและได้รับโลหิตของผู้อื่น ต้องเกิน 1 ปี
  </app-list>
  <app-list [number]='20'>
    หากมีประวัติเป็นมาลาเรีย ถ้าเคยเป็นต้องหายมาแล้วเกิน 3 ปี หากเคยเข้าไปในพื้นที่ที่มีเชื้อมาเลเรียชุกชุม ต้องทิ้งระยะอย่างน้อยเกิน 1 ปี
    จึงบริจาคโลหิตได้
  </app-list>
  <app-list [number]='21'>
    หากเคยเจ็บป่วยจนต้องรับโลหิตของผู้อื่นที่ประเทศอังกฤษ ในระหว่างปี พ.ศ.2523-2539 งดรับบริจาคโลหิตถาวร
  </app-list>
  <app-list [number]='22'>
    หากเคยพำนักอยู่ในประเทศอังกฤษรวมระยะเวลา 3 เดือน ในระหว่างปี พ.ศ.2523-2539 หรือเคยพำนักในยุโรปรวมระยะเวลา 5 ปี ตั้งแต่ปี พ.ศ.2523-ปัจจุบัน
    งดรับบริจาคโลหิตถาวร
  </app-list>
  <app-list [number]='23'>
    หากเคยได้รับวัคซีน เพื่อป้องกันโรค หรือเคยรับเซรุ่ม ระยะเวลาที่งดรับบริจาคโลหิตขึ้นกับชนิดขอบวัคซีน หรือเซรุ่ม
  </app-list>
  <app-list [number]='24'>
    สตรีอยู่ระหว่างมีรอบเดือน ไม่เป็นข้อห้ามในการบริจาคโลหิต ถ้าขณะนั้นสุขภาพแข็งแรง มีโลหิตประจำเดือนไม่มากกว่าปกติ ไม่มีอาการอ่อนเพลียใด ๆ
    ตรวจความเข้มข้นโลหิตผ่าน ก็สามารถบริจาคโลหิตได้
  </app-list>
  <app-list [number]='25'> ก่อนบริจาคโลหิต ควรงดอาหารไขมันสูง เช่น ข้าวมันไก่ ข้าวข้าวหมู ของทอด ของหวาน แกงกะทิต่าง ๆ เป็นต้น
  </app-list>

  <div id='PROCEDURES' class='pb-6'></div>
  <app-head
    title='ขั้นตอนการบริจาคโลหิตกับโครงการ'
    subtitle='PROCEDURES'
  ></app-head>
  <app-list number='1'>
    ลงทะเบียนบริจาคโลหิตล่วงหน้าที่เว็บไซต์ของโครงการในช่วง 1 สัปดาห์ ก่อนหน้าสัปดาห์บริจาคโลหิต
  </app-list>
  <app-list number='2'>
    ผู้บริจาคโลหิตที่ได้ลงทะเบียนบริจาคโลหิตล่วงหน้าไว้ สามารถยืนยันการลงทะเบียนเข้าร่วมการบริจาคโลหิตที่จุดลงทะเบียนใต้อาคารมหิตลาธิเบศร
    จุฬาลงกรณ์มหาวิทยาลัย หรือชั้น 1 ของ ศูนย์บริการโลหิตแห่งชาติ สภากาชาดไทย ในสัปดาห์บริจาคโลหิต
  </app-list>
  <app-list number='3'>
    หากผู้บริจาคโลหิตไม่ได้ลงทะเบียนบริจาคโลหิตล่วงหน้า ให้ทำการกรอกข้อมูลลงทะเบียนผู้บริจาคโลหิตแบบ Walk-in ที่จุดลงทะเบียนใต้อาคารมหิตลาธิเบศร
    จุฬาลงกรณ์มหาวิทยาลัย หรือ ศูนย์บริการโลหิตแห่งชาติ สภากาชาดไทย ในสัปดาห์บริจาคโลหิต
  </app-list>
  <app-list number='4'>
    ผู้บริจาคโลหิตรับ “ใบสมัครผู้บริจาคโลหิต” และกรอกข้อมูลให้ครบถ้วน พร้อมตรวจสอบความถูกต้อง
  </app-list>
  <app-list number='5'>
    สำหรับผู้บริจาคโลหิตที่อยู่ใต้อาคารมหิตลาธิเบศร จุฬาลงกรณ์มหาวิทยาลัย สามารถใช้บริการรถรับ-ส่งที่โครงการได้จัดเตรียมไว้ให้
    เพื่อเดินทางไปยังศูนย์บริการโลหิตแห่งชาติ สภากาชาดไทย โดยไม่มีค่าใช้จ่าย
  </app-list>
  <app-list number='6'>
    ผู้บริจาคโลหิตเดินทางถึงศูนย์บริการโลหิตแห่งชาติ สภากาชาดไทย และทำการตรวจวัดความดันโลหิต
  </app-list>
  <app-list number='7'>
    นำใบที่แสดงผลการตรวจวัดความดันติดเข้าที่มุมของใบสมัครผู้บริจาคโลหิต แล้วนำไปยื่นที่เคาเตอร์ลงทะเบียนของศูนย์บริการโลหิตแห่งชาติ สภากาชาดไทย
  </app-list>
  <app-list number='8'>
    กดบัตรคิวเพื่อรอตรวจวัดความเข้มโลหิตและสอบถามประวัติเพิ่มเติม
  </app-list>
  <app-list number='9'>
    ผู้บริจาคโลหิตตรวจความเข้มโลหิต และสอบถามประวัติเพิ่มเติม เพื่อวินิจฉัยสุขภาพเบื้องต้น
  </app-list>
  <app-list number='10'>
    เดินขึ้นไปที่ชั้น 2 ของศูนย์บริการโลหิตแห่งชาติ สภากาชาดไทย แล้วกดบัตรคิวเพื่อรอการบริจาคโลหิต
  </app-list>
  <app-list number='11'>
    บริจาคโลหิต ที่ห้องรับบริจาคโลหิต
  </app-list>
  <app-list number='12'>
    เมื่อบริจาคโลหิตเสร็จแล้ว ให้พักรับประทานอาหารว่างหรือเครื่องดื่มที่เจ้าหน้าที่ได้จัดเตรียมไว้ให้ เพื่อปรับสภาพน้ำในร่างกาย
    เมื่อปกติดีแล้วจึงเดินไปที่จุดลงทะเบียนของโครงการ CU BLOOD ณ ชั้น 1 ศูนย์บริการโลหิตแห่งชาติ สภากาชาดไทย
  </app-list>
  <app-list number='13'>
    ผู้บริจาคโลหิตยืนยันการบริจาคโลหิตอีกครั้ง และรับของที่ระลึกจากโครงการ
  </app-list>
  <div id='PRE-POST_DONATION_PROCEDURES' class='pb-6'></div>
  <app-head
    title='การเตรียมตัวก่อน-หลังบริจาคโลหิต'
    subtitle='PRE-POST DONATION PROCEDURES'
  ></app-head>

  <h2>การเตรียมตัวก่อนบริจาคโลหิต</h2>
  <app-list number='1'>
    นอนหลับพักผ่อนให้เพียงพอ ตามเวลานอนปกติของตนเอง ในคืนก่อนวันที่จะมาบริจาคโลหิต
  </app-list>
  <app-list number='2'>
    สุขภาพสมบูรณ์ทุกประการ ไม่เป็นไข้หวัด หรืออยู่ระหว่างรับประทานยาปฏิชีวนะใด ๆ เช่น ยาแก้อักเสบ แต่หยุดยาแล้วอย่างน้อย 7 วัน
  </app-list>
  <app-list number='3'>
    ควรหลีกเลี่ยงการรับประทานอาหารประเภทที่มีไขมันสูง ภายใน 6 ชั่วโมง ก่อนมาบริจาคโลหิต เช่น ข้าวมันไก่ ข้าวขาหมู เป็นต้น
    เพราะจะทำให้พลาสมามีสีขาวขุ่น ไม่สามารถนำไปใช้รักษาผู้ป่วยได้
  </app-list>
  <app-list number='4'>
    ดื่มน้ำก่อนบริจาคโลหิต 30 นาที ประมาณ 3-4 แก้ว ซึ่งเท่ากับปริมาณโลหิตที่เสียไปในการบริจาค ทำให้โลหิตไหลเวียนดีขึ้น
    และช่วยลดภาวะการเป็นลมจากการบริจาคโลหิตได้
  </app-list>
  <app-list number='5'>
    งดเครื่องดื่มที่มีแอลกอฮอล์ ก่อนมาบริจาคโลหิตอย่างน้อย 24 ชั่วโมง
  </app-list>
  <app-list number='6'>
    งดสูบบุหรี่ก่อนและหลังบริจาคโลหิต 1 ชั่วโมง เพื่อให้ปอดฟอกโลหิตได้ดี
  </app-list>
  <h2>การเตรียมตัวขณะบริจาคโลหิต</h2>
  <app-list number='1'>
    สวมใส่เสื้อผ้าที่แขนเสื้อไม่คับเกินไป สามารถดึงขึ้นเหนือข้อศอกได้อย่างน้อย 3 นิ้ว
  </app-list>
  <app-list number='2'>
    เลือกแขนข้างที่เส้นโลหิตดำใหญ่ชัดเจน ผิวหนังบริเวณที่จะให้เจาะ ไม่มีผื่นคัน หรือรอยเขียวช้ำ ถ้าแพ้ยาทาฆ่าเชื้อ เช่น แอลกอฮอล์
    ให้แจ้งเจ้าหน้าที่ทราบล่วงหน้า
  </app-list>
  <app-list number='3'>
    ไม่ควรเคี้ยวหมากฝรั่ง หรืออมลูกอมขณะบริจาคโลหิต
  </app-list>
  <app-list number='4'>
    ขณะบริจาคควรบีบลูกยางอย่างสม่ำเสมอ เพื่อให้โลหิตไหลได้สะดวก หากมีอาการผิดปกติ เช่น ใจสั่น วิงเวียน มีอาการคล้ายจะเป็นลม อาการชา
    อาการเจ็บที่ผิดปกติ ต้องรีบแจ้งให้เจ้าหน้าที่ทราบทันที
  </app-list>
  <app-list number='5'>
    หลังบริจาคโลหิตเสร็จเรียบร้อยแล้ว ให้นอนพักบนเตียง 5-10 นาที ก่อนจึงลุกจากเตียง อาจมีอาการเวียนศีรษะเป็นลมได้
    ให้นอนพักสักครู่จนกระทั่งรู้สึกสบายดี จึงลุกไปดื่มน้ำ และรับประทานอาหารว่างที่จัดไว้รับรอง
  </app-list>
  <h2>หลังบริจาคโลหิต</h2>
  <app-list number='1'>
    พักรับประทานอาหารว่างและเครื่องดื่มที่เจ้าหน้าที่จัดไว้บริการ และนั่งพักอย่างน้อย 15 นาที
  </app-list>
  <app-list number='2'>
    ให้ดื่มน้ำมากกว่าปกติ เป็นเวลา 1 วัน
  </app-list>
  <app-list number='3'>
    ไม่ควรรีบร้อนกลับ ควรนั่งพักจนแน่ใจว่าเป็นปกติ หากมีอาการเวียนศีรษะคล้ายจะเป็นลม หรือรู้สึกผิดปกติ ให้รีบแจ้งเจ้าหน้าที่ทราบทันที
  </app-list>
  <app-list number='4'>
    หลีกเลี่ยงการขึ้นลงลิฟท์ บันไดเลื่อน อาจทำให้รู้สึกวิงเวียนและเป็นลมได้
  </app-list>
  <app-list number='5'>
    ถ้ามีโลหิตซึมออกมาจากรอยผ้าปิดแผล ให้ใช้นิ้วมืออีกด้านหนึ่งกดลงบนผ้าก๊อซ กดให้แน่นและยกแขนสูงไว้ประมาณ 3-5 นาที
    หากยังไม่หยุดซึมให้กลับมายังสถานที่บริจาคโลหิตเพื่อพบแพทย์หรือพยาบาล
  </app-list>
  <app-list number='6'>
    หลีกเลี่ยงการทำซาวน่า หรือออกกำลังกายที่ต้องเสียเหงื่อมาก ๆ ไม่ใช้กำลังแขนที่เจาะบริจาค เช่น ยกของหนัก เป็นเวลา 24 ชั่วโมง หลังการบริจาคโลหิต
  </app-list>
  <app-list number='7'>
    ควรพักผ่อนและหลีกเลี่ยงการทำกิจกรรมต่อเนื่องเป็นระยะเวลานาน อาทิ การเดินซื้อของ อยู่ในบริเวณที่แออัดหรืออากาศร้อนอบอ้าว เป็นต้น
  </app-list>
  <app-list number='8'>
    ผู้บริจาคโลหิตที่ทำงานปีนป่ายที่สูง หรือทำงานเกี่ยวกับเครื่องจักรกล ควรหยุดพัก 1 วัน หลังจากบริจาคโลหิต
  </app-list>
  <app-list number='9'>
    ให้รับประทานอาหารตามปกติ ไม่จำเป็นต้องรับประทานอาหารเพิ่มขึ้นเพื่อชดเชยโลหิตที่บริจาค
  </app-list>
  <app-list number='10'>
    รับประทานธาตุเหล็กวันละ 1 เม็ด จนหมด ชดเชยธาตุเหล็กที่เสียไปจากการบริจาคโลหิต และป้องกันการขาดธาตุเหล็ก เพื่อให้สามารถบริจาคโลหิตได้อย่างสม่ำเสมอ
    การรับประทานธาตุเหล็กบำรุงโลหิต พร้อมกับเครื่องดื่มที่มีวิตามินซีสูง เช่น น้ำส้ม น้ำฝรั่ง หรือน้ำมะเขือเทศ จะทำให้ร่างกายดูดซึมธาตุเหล็กได้ดี
    ยกเว้นชาเขียว เพราะจะไปขัดขวางการดูดซึมของธาตุเหล็ก
  </app-list>
  <br>
  <div>
    สามารถสอบถามข้อมูลเพิ่มเติมได้ที่<br>
    โทร. 0 2256 4300, 0 2263 9600-99 ต่อ 1101, 1760, 1761<br>
    ศูนย์บริการโลหิตแห่งชาติ สภากาชาดไทย<br>
  </div>
  <br>
</div>
<!-- <app-footer></app-footer> -->
