<div class="bg-primary p-12">
  <div class="container text-center">
      <div class="text-white text-sm opacity-50">OUR ACTIVITY</div>
      <div class="text-white text-3xl">CU Blood on Facebook</div>
      <a class='block mt-4' href='https://www.facebook.com/CU.Blood'>
        <img class='rounded-lg w-64 m-auto' src="https://graph.facebook.com/v6.0/642243705797767/picture?height=500" alt="fb profile img">
      </a>
  </div>

  <div class="container mt-16 flex flex-row flex-wrap">
    <app-post class='w-full md:w-6/12 lg:w-4/12' href='https://www.facebook.com/CU.Blood/posts/2950575821631199'></app-post>
    <app-post class='w-full md:w-6/12 lg:w-4/12' href='https://www.facebook.com/CU.Blood/photos/a.654549701233834/2870776369611145/?type=3'></app-post>
    <app-post class='w-full md:w-6/12 lg:w-4/12' href='https://www.facebook.com/CU.Blood/photos/a.650652924956845/2945835385438576'></app-post>
    <app-post class='w-full md:w-6/12 lg:w-4/12' href='https://www.facebook.com/CU.Blood/videos/575771536617689/'></app-post>
    <app-post class='w-full md:w-6/12 lg:w-4/12' href='https://www.facebook.com/CU.Blood/posts/2922455294443252'></app-post>
    <app-post class='w-full md:w-6/12 lg:w-4/12' href='https://www.facebook.com/CU.Blood/photos/a.650652924956845/2896194800402635'></app-post>
  </div>
</div>
