<div class="container flex flex-row" style='min-height: 40vh'>
  <div class="hidden md:block w-5/12 bg-cover bg-center" style='background-image: url(assets/announcementBackground.jpg);'>
  </div>
  <div class="p-10 w-7/12">
    <h1 class='text-sm text-primary'>ANNOUNCEMENT</h1>
    <p class='text-3xl font-bold'>ข่าวประกาศ<p>
    <div class="bg-primary w-20 h-1 mb-6"></div>
    <a href='#' class='flex items-center py-4'>
      <img class='h-8 w-8 mr-3' src="../../../assets/megaphone.svg" alt="megaphone">
      <div>
        <h3 class='text-lg'>!!! อย่าลืมบันทึก qr-code หลังลงทะเบียนล่วงหน้า</h3>
        <p class='text-sm text-primary mt-1'>อังคาร, 23 มีนาคม 2562</p>
      </div>
    </a>
    <hr>
    <a href='#' class='flex items-center py-4'>
      <img class='h-8 w-8 mr-3' src="../../../assets/megaphone.svg" alt="megaphone">
      <div>
        <h3 class='text-lg'>!!! อย่าลืมบันทึก qr-code หลังลงทะเบียนล่วงหน้า</h3>
        <p class='text-sm text-primary mt-1'>อังคาร, 23 มีนาคม 2562</p>
      </div>
    </a>
    <hr>
    <a href='#' class='flex items-center py-4'>
      <img class='h-8 w-8 mr-3' src="../../../assets/megaphone.svg" alt="megaphone">
      <div>
        <h3 class='text-lg'>!!! อย่าลืมบันทึก qr-code หลังลงทะเบียนล่วงหน้า</h3>
        <p class='text-sm text-primary mt-1'>อังคาร, 23 มีนาคม 2562</p>
      </div>
    </a>

    <div class='text-right mt-2'>
      <a href='#'>
        <span class='mr-2'>ดูข่่าวประกาศทั้งหมด</span>
        <img class='inline w-4' style='filter: invert(1);' src="../../../assets/forward-arrow.svg" alt="arrow">
      </a>
    </div>
  </div>
</div>
