<div class="py-8 bg-cover bg-center flex items-center" style='background-image: linear-gradient(#0009, #0009), url(assets/homehead.jpg); min-height: 70vh'>
  <div class="container px-4 lg:px-0 text-gray-200 text-center lg:text-left">
    <div class='w-full lg:w-1/2 md:text-left'>
      <div class="text-6xl font-bold">CU Blood</div>
      <div class="text-2xl m-0 mt-4">
        โครงการที่รณรงค์ให้นิสิตปัจจุบัน นิสิตเก่า คณาจารย์ และบุคลากร ของ
        <span class="font-bold">จุฬาลงกรณ์มหาวิทยาลัย</span>
        ร่วมกันบริจาคโลหิตให้แก่สภากาชาดไทย
      </div>
      <button class="text-2xl my-2 mt-4 px-12 py-3 bg-primary rounded">ลงทะเบียน</button>
      <div class="text-lg mt-4">
        <p class="inline">เกี่ยวกับโครงการ</p>
        <img alt="arrow" src="../../../assets/forward-arrow.svg" class="inline w-6 ml-2">
      </div>
    </div>
  </div>
</div>
