<div class='rounded overflow-hidden'>
  <a href='#'>
    <div class='overflow-hidden'>
      <img class='p-4 overflow-hidden rounded bg-white bg-gray-100 transform hover:scale-105 transition duration-500 ease-in-out' src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/s720x720/90944353_2609260719185005_775838674691555328_o.jpg?_nc_cat=103&_nc_sid=8024bb&_nc_eui2=AeHCw_lUAvdBt37HZLGMgFpOcdWwTMDMjFpx1bBMwMyMWqq0bULo6Tc5vJv-Sp6ogGydYiK02bFoedqD7fd9-EsF&_nc_oc=AQnHA1B5nJDnsQqqVVhwx_frF7yUEoRz7PuJfjRG0cQoGZhLJxBrDHkCFEsmZe-OQzI&_nc_ht=scontent.fbkk10-1.fna&_nc_tp=7&oh=02cbf34bb154fb0df5c861c61b296138&oe=5EADBFED" alt="">
    </div>
  </a>
  <div class="p-4 bg-gray-100">
    <p>ชาวจุฬาฯ ที่สนใจจะบริจาคโลหิตและรับของที่ระลึกกับโครงการ CU blood สามารถบริจาคโลหิตได้ ณ… </p>
  </div>
  <button class="p-4 bg-gray-100 w-full text-blue-600 hover:text-blue-400">
    view on facebook
  </button>
</div>
