<div class="container py-4 px-4 lg:px-0">
  <div class="flex justify-between">
    <div class="flex items-center">
      <a routerLink=''>
        <img class='mr-6 h-8 md:h-16' alt="logo" src="../../assets/logo.svg">
      </a>
      <a routerLink='about' class='mx-2 hidden sm:block'>เกี่ยวกับเรา</a>
      <a routerLink='notice' class='mx-2 hidden sm:block'>ข้อควรรู้</a>
      <a routerLink='announcement' class='mx-2 hidden sm:block'>ข่าวประกาศ</a>
      <a routerLink='contact' class='mx-2 hidden sm:block'>ติดต่อเรา</a>
    </div>
    <div class="flex items-center">
      <a routerLink='' class='mx-2 hidden sm:block'>เข้าสู่ระบบ</a>
      <a routerLink='' class='ml-2 hidden sm:block'>TH</a>
      <button class='ml-2 sm:hidden'>
        <div class='w-5 my-1 border border-gray-600'></div>
        <div class='w-5 my-1 border border-gray-600'></div>
        <div class='w-5 my-1 border border-gray-600'></div>
      </button>
    </div>
  </div>
</div>
